<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813978453201-5nchitt6q580v3hf3c744dhibjd5ehju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813978453201-5nchitt6q580v3hf3c744dhibjd5ehju</string>
	<key>API_KEY</key>
	<string>AIzaSyAVZ_LrnSgJkVanf0ymDOCcMF-735Q9sVI</string>
	<key>GCM_SENDER_ID</key>
	<string>813978453201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petyogi.app</string>
	<key>PROJECT_ID</key>
	<string>petyogi-9ebc5</string>
	<key>STORAGE_BUCKET</key>
	<string>petyogi-9ebc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813978453201:ios:838eeb1926796ed218b1f0</string>
</dict>
</plist>